/* Variables */

:root {
  --border: 240 5.9% 90%;
  --clr-primary: 256, 40%, 52%;
  --clr-primary-fg: 60, 43%, 99%;
  --clr-card: 0, 0%, 95%;
}

/* CSS Reset */

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(var(--border));
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* General Styles*/

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  background: linear-gradient(130deg, #016984, #010028);
}

input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 0.5rem 0.75rem;
}

input[type="submit"],
button {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 0;
  padding: 0.5rem 0.75rem;
}

/* Reusable Components */

.btn-primary {
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-primary-fg));
}

.btn-primary:hover {
  background-color: hsl(var(--clr-primary), 90%);
}

.card {
  background-color: hsl(var(--clr-card));
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.card-lg {
  width: 100%;
  max-width: 600px;
  margin: 1rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 1.5rem;
}

.card-content {
  padding: 1.5rem;
  padding-top: 0;
}

.card-footer {
  padding: 1.5rem;
  padding-top: 0;
}
