{% extends "base.html" %}

{% block title %}
    Forgot password
{% endblock title %}

{% block content %}
    <div class="flex-1 flex-center">
        <form action="{% url 'forgot_password' %}"
              method="post"
              class="card card-lg">
            {% csrf_token %}
            <div class="card-header flex-col gap-2">
                <h2>Forgot Password</h2>
                <p>Enter your email to receive a reset link.</p>
            </div>
            <div class="card-content flex-col gap-4">
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-field">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer flex-col gap-4">
                <input type="submit" class="btn-primary" value="Send Reset Link">
                <div>
                    Go back? <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
